.idea/
logs/
data/rowCountDiff.json
data/rowCounts/*
data/rowValueDiff.json
data/rowValues/*
data/elasticCountDiff.json
data/elasticCounts/*
data/elasticValueDiff.json
data/elasticValues/*
*.log
.envrc
test.py
data/tableCountDiff.json
data/tableCounts/*
data/columnCountDiff.json
data/columnCounts/*
data/columnDefinitions/*
data/columnDefinitionDiff.json
data/distinctVersions.json
data/foreignKeyMismatches.json
.DS_Store
__pycache__/